.sider {
  height: 100vh;
  background: #f0f3f5 !important;

  // .logo {
  //   height: 48px;
  //   margin-top: 16px;
  //   margin-bottom: 24px;
  //   margin-left: 24px;

  //   img {
  //     height: 48px;
  //   }
  // }

  .logo {
    box-sizing: border-box;
    background: #0d58ab;
    line-height: 64px;
    height: 64px;
    width: 100%;
    padding: 0 22px;
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;

    .title {
      margin-left: 10px;
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      transition: all 0.3s ease 0s;
    }
  }
}
